APP_PORT=3000

POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432

PGADMIN_EMAIL=admin@localhost.com
PGADMIN_PASSWORD=changeme
PGADMIN_PORT=5050

REDIS_PORT=6379
REDIS_COMMANDER_PORT=8081